*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header-container {
    height:100vh;
    width: 100%;
    background-image: url("images/background.jpg");
    background-size: cover;
    background-position: center;
}
.name{
    color:lightgreen;
    font-size: 35px;
    letter-spacing:2px;
    cursor: pointer;
}
span {
    color: darkseagreen;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 6%;
    padding-right: 6%;

}
ul li {
    display: inline-block;
    padding: 10px 18px;
}
ul li a {
    color:coral;
    text-decoration: none;
}
ul li a:hover{
    color:darkseagreen;
}
.btn {
    background-color: darkseagreen;
    color:white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: solid;
    padding: 10px 15px;
    border-radius: 30px;
    transition: transform .4s;

}
.btn:hover {
    transform: scale(1.1); 
}
.content {
    position: absolute;
    top: 40%;
    left: 6%;
}
h1 {
    color:aquamarine;
    margin: 15px 0 20px;
    font-size: 40px;
}
h3 {
    color:coral;
    font-size: 20px;
    margin-bottom: 40px;
}
h4 {
    color :cadetblue;
    font-size: 20px;
    letter-spacing: 2px;
}
.newletter form {
    width:300px;
    max-width: 100%;
    position: relative;
}
.newletter form input:first-child{
  width: 100%;
  display: inline-block;
  padding: 10px 150px 12px 13px;
  border: 2px solid coral;
  border-radius: 25px;
  outline: 0;
}
.newletter form input:last-child{
    position: absolute;
    display:inline-block;
    border:none;
    border-radius: 30px;
    padding: 10px 20px;
    background-color: darkseagreen;
    color:white;
    top: 3px;
    right: 6px;
    
}